<mat-card>
  <div class="w-full mb-1">
    <div class="mb-4">
      <app-breadcrumb></app-breadcrumb>
      <h1
        class="text-xl font-semibold text-gray-900 sm:text-2xl dark:text-white"
      >
        All products
      </h1>
    </div>
    <div class="items-center justify-between block sm:flex md:divide-x">
      <app-search-input></app-search-input>
      <a
        mat-button
        class="bg-indigo-600 hover:bg-indigo-800 text-white"
      >
        Add new product
      </a>
    </div>
  </div>
</mat-card>
