<nav
  class="sticky top-0 z-50 w-full bg-black text-white border-b border-gray-200"
>
  <div class="px-3 py-3 lg:px-5 lg:pl-3">
    <div class="flex items-center justify-center">
      <div class="flex items-center justify-start rtl:justify-end">
        <AppLogo></AppLogo>
      </div>
    </div>
  </div>
</nav>
<main>
  <FormContainer>
    <div class="flex flex-col justify-center px-3 py-12 gap-5 lg:px-4">
      <h2
        class="mt-10 text-center text-2xl font-bold leading-9 tracking-tight text-gray-900"
      >
        Sign in to your account
      </h2>
      <form
        class="space-y-2"
        [formGroup]="loginData"
        ngxsForm="auth.loginForm"
        (ngSubmit)="handleSubmit()"
      >
        <div
          class="p-4 mb-4 text-sm text-center text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400"
          role="alert"
          *ngIf="errorMessage"
        >
          {{ errorMessage }}
        </div>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Phone Or Email</mat-label>
          <input
            matInput
            placeholder="email@example.com"
            formControlName="phoneOrEmail"
          />
          <mat-error
            *ngIf="
              loginData.get('phoneOrEmail')?.invalid &&
              loginData.get('phoneOrEmail')?.touched
            "
          >
            <span *ngIf="loginData.get('phoneOrEmail')?.errors?.['required']">
              Phone or Email is required!
            </span>
          </mat-error>
        </mat-form-field>
        <mat-form-field class="w-full" appearance="outline">
          <mat-label>Password</mat-label>
          <input
            matInput
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            placeholder="Password"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
          <mat-error
            *ngIf="
              loginData.get('password')?.invalid &&
              loginData.get('password')?.touched
            "
          >
            <span *ngIf="loginData.get('password')?.errors?.['required']">
              Password is required!
            </span>
            <span *ngIf="loginData.get('password')?.errors?.['pattern']">
              Your password must be 6-20 characters long, contain letters and
              one uppercase, numbers and special characters!
            </span>
          </mat-error>
        </mat-form-field>
        <div>
          <button
            type="submit"
            class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm font-semibold leading-6 text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
          >
            Sign in
          </button>
        </div>
      </form>
    </div>
  </FormContainer>
</main>
