<div class="container">
  <h1 class="text-center">Create New Product</h1>
  <mat-grid-list cols="4" class="h-fit" gutterSize="1rem">
    <mat-grid-tile colspan="3">
      <mat-card>
        <mat-card-header class="border-b border-gray">
          <mat-card-title>General</mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ex
          tempora soluta expedita eveniet accusamus et quibusdam. Aspernatur
          incidunt possimus dolorum velit libero deleniti maxime, culpa quasi,
          nobis labore maiores?
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-card>
        <mat-card-header class="border-b border-gray">
          <mat-card-title>General</mat-card-title>
        </mat-card-header>
        <mat-card-content class="p-2">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia ex
          tempora soluta expedita eveniet accusamus et quibusdam. Aspernatur
          incidunt possimus dolorum velit libero deleniti maxime, culpa quasi,
          nobis labore maiores?
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>
</div>
